@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap');

body {
  margin: 0;
  font-family: 'Lora', serif !important;
  color: white !important;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: rgb(213, 210, 210);
}
body::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 20px;
}
